/* Styles to make the header slightly transparent */
.header {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the alpha value (last parameter) to change transparency */
    width: 100%;
    z-index: 9999;
    position: fixed; /* Fix the header at the top of the viewport */
  }
  
  body {
    background-color: rgb(0, 28, 38);
    color: white;
    font-family: 'Lora', serif; /* Change the font family to Lora */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  
  .container {
    flex-grow: 1; /* Fill remaining space */
    margin-top: 80px; /* Adjust margin to account for fixed header */
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  #map {
    height: calc(100vh - 200px); /* Adjust map height to fit remaining space */
    width: 100%;
  }
  
  .footer {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999; /* Ensure footer appears above the map */
    position: fixed; /* Fix the footer at the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 768px) {
    body {
      overflow: hidden; /* Hide overflow on mobile devices */
    }
  }
  